.App {
  text-align: center;
}

button{
  margin:.5rem 1rem;
}

.header {
  background-color: #333333;
  color: #DDDDDD;
  font-family: 'Lato', sans-serif;
  padding:1.5rem;

}

.header-contents{
  margin:auto;
  width:70%;
}

.header-text{
  font-family: 'Lato', sans-serif;
  padding-top:1rem;
  margin-bottom:0 auto 0 auto;
  /* text-align:left; */
}

.subtitle{
  font-size:16px;
  margin-bottom:.5rem;
  /* text-align:left; */
}

.header-buttons{
  padding:1rem auto 1rem auto;
  text-align:right;
}

.memory-content{
  text-align:left;
  padding:.5rem;
  margin:1rem auto 1rem auto;
  width:90%;
  border-top:2px solid lightslategray;
  border-bottom:2px solid lightslategray;
}

.gameContainer {
  background-color: whitesmoke;
  font-family: 'Lato', sans-serif;
  /* border: 2px solid lightslategray; */
  margin:1rem auto 1rem auto;
  padding: .5rem;
  width:70%;
  border-radius: 4px;
  box-shadow: 0px 0px 58px -14px rgba(0,0,0,0.75);

}

.game-photo{
  width:40%;
  margin: .5rem auto .5rem auto;
  
}

/* .game-memory-text{
  margin:.5rem 0 .5rem 0;
  background-color: #F4F4F4;
  color: #333333;
  padding:.5rem;
}

.game-memory-top{
  background-color: #F4F4F4;
  color: #333333;
  padding:.5rem; */

/* } */

.commentContainer{
  text-align:left;
  padding:.5rem;
  margin:1rem auto 1rem auto;
  width:80%;
  border-top:1px solid lightslategray;
  border-bottom:1px solid lightslategray;
  /* border-right:2px solid lightslategray;
  border-left:2px solid lightslategray; */
  /* box-shadow: 2px 0px 44px -14px rgba(0,0,0,0.75); */


}

.edit-delete{
  font-size:40px;
  text-align:center;
  margin:0;
}

.memory-user{
  font-style:italic;  
}

.game-memory-title{
  font-size: 20px;
  font-weight:bold;
}

.game-memory-text{
  margin:1rem auto 1rem auto;
}

.edit-note-form{
  width:60%;
  margin:1rem auto 1rem auto;
  text-align:left;
}

.input-container{
  margin:2rem auto;
  padding:1rem;
  max-width:700px;
  text-align:left;
}

.text-input{
  margin:1rem auto 1rem auto;
}

.memory-input{
  height:300px;
}

/* @media screen and (max-width:400px) {
  .header-buttons{
    padding-top:0rem;
    text-align:center;
    margin:0;
  }
  .header-contents{
    margin:auto;
    text-align:center;
  }
  .header-text{
    text-align:center;
    margin:auto;
  }
  .subtitle{
    margin:auto;
  }

  
} */
