.App {
  text-align: center;
}

button{
  margin:0.5rem 1rem 0.5rem 1rem;
}

.header {
  background-color: #333333;
  color: #DDDDDD;
  font-family: 'Indie Flower', cursive;

}

.header-text{
  font-family: 'Indie Flower', cursive;
}

/* .gameContainer {
  border: 2px solid lightslategray;
  margin:1rem auto 1rem auto;
  padding: 0;
  width:70%;
  border-radius: 4px;
} */

.gameContainer img{
  margin: 1rem;
  
}

/* .game-memory-text{
  margin:.5rem 0 .5rem 0;
  background-color: #F4F4F4;
  color: #333333;
  padding:.5rem;
}

.game-memory-top{
  background-color: #F4F4F4;
  color: #333333;
  padding:.5rem; */

/* } */

.commentContainer{
  background-color:#DDDDDD;
  border-radius:3px;
  margin:1rem;
}

.edit-delete{
  font-size:40px;
  text-align:center;
  margin:20px;
}